acme==1.21.0
aio-pika==9.4.0
aiormq==6.8.0
aiosqlite==0.19.0
alembic==1.13.1
amqp==5.2.0
anyio==4.3.0
apispec==6.3.0
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asn1crypto==1.4.0
asttokens==2.4.0
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
Babel==2.13.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bleach==6.1.0
blinker==1.4
boto3==1.28.61
botocore==1.31.61
Brlapi==0.8.3
Brotli==1.0.9
certbot==1.21.0
certifi==2024.2.2
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.0.3
colorama==0.4.4
colorthief==0.2.1
comm==0.1.4
command-not-found==0.3
ConfigArgParse==1.5.3
configobj==5.0.6
cryptg==0.4.0
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
DAWG-Python==0.7.2
dbus-python==1.2.18
deap==1.4.1
debugpy==1.8.0
decorator==4.4.2
deep-translator==1.11.4
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.14
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==4.2.7
dnspython==2.4.2
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
document==1.0
duplicity==0.8.21
email-validator==1.3.1
exceptiongroup==1.2.0
executing==2.0.0
fastapi==0.70.0
fasteners==0.14.1
fastjsonschema==2.18.1
filelock==3.9.0
Flask==2.0.1
Flask-AppBuilder==4.3.6
Flask-Babel==2.0.0
Flask-JWT-Extended==4.5.2
Flask-Limiter==3.4.1
Flask-Login==0.6.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
fonttools==4.29.1
fqdn==1.5.1
frozendict==2.3.8
fs==2.4.12
fsspec==2023.10.0
future==0.18.2
gast==0.5.2
graypy==2.1.0
greenlet==3.0.3
grpcio==1.42.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.4
httplib2==0.20.2
httpx==0.27.0
huggingface-hub==0.17.3
idna==3.6
importlib-metadata==4.6.4
importlib-resources==6.0.1
iniconfig==2.0.0
ipykernel==6.25.2
ipython==8.16.1
isoduration==20.11.0
itsdangerous==2.1.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
josepy==1.10.0
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter_client==8.4.0
jupyter_core==5.4.0
jupyter_server==2.8.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.0
keyring==23.5.0
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
limits==3.5.0
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
MailTm==0.0.81
Mako==1.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.4
marshmallow==3.20.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mechanize==0.4.7
mistune==3.0.2
mlp-sdk @ git+https://git@github.com/just-ai/mlp-python-sdk.git@eab2d72c99ef8a791ac6e78cb3baf3c88d4f04ec
monotonic==1.6
more-itertools==8.10.0
mpmath==1.2.1
multidict==6.0.5
mypy==1.7.1
mypy-extensions==1.0.0
nanoid==2.0.0
nbclient==0.8.0
nbconvert==7.9.2
nbformat==5.9.2
nest-asyncio==1.5.8
netifaces==0.11.0
networkx==3.0
nltk==3.8.1
notebook==7.0.6
notebook_shim==0.2.3
numpy==1.26.2
oauthlib==3.2.0
olefile==0.46
opencv-python==4.8.0.76
ordered-set==4.1.0
overrides==7.4.0
packaging==21.3
pamqp==3.3.0
pandas==2.1.4
pandocfilters==1.5.0
paramiko==2.9.3
parsedatetime==2.6
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pika==1.3.2
Pillow==9.0.1
pipeline==0.1.0
platformdirs==3.11.0
pluggy==1.3.0
ply==3.11
prison==0.2.1
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyaes==1.6.1
pyasn1==0.5.1
PyAudio==0.2.14
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pydantic==1.10.8
Pygments==2.16.1
PyGObject==3.42.1
PyICU==2.8.1
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.1
pytest==6.2.5
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-docx==1.1.0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-pptx==0.6.21
pythran==0.10.0
pytz==2023.3.post1
pyxdg==0.27
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.30.2
regex==2023.10.3
reportlab==3.6.8
requests==2.31.0
requests-toolbelt==0.9.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.5.2
rpds-py==0.9.2
rsa==4.9
s3transfer==0.7.0
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.8.0
seaborn==0.13.0
SecretStorage==3.3.1
Send2Trash==1.8.2
simplejson==3.17.6
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.1
SQLAlchemy==2.0.27
SQLAlchemy-Utils==0.41.1
sqlparse==0.4.4
srt==3.5.3
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.16.0
sympy==1.11.1
systemd-python==234
Telethon==1.34.0
terminado==0.17.1
texttable==1.6.4
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.14.1
toml==0.10.2
tomli==2.0.1
torch==2.0.1+cpu
torchaudio==2.0.2+cpu
torchvision==0.15.2+cpu
tornado==6.3.3
tqdm==4.66.1
traitlets==5.11.2
transformers==4.35.0
types-python-dateutil==2.8.19.14
typing_extensions==4.9.0
tzdata==2023.3
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
uri-template==1.3.0
urllib3==2.1.0
usb-creator==0.3.7
uvicorn==0.15.0
vine==5.1.0
vosk==0.3.45
wadllib==1.3.6
wcwidth==0.2.8
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
websockets==12.0
Werkzeug==2.0.2
wrapt==1.15.0
WTForms==3.0.1
xdg==5
xkit==0.0.0
XlsxWriter==3.1.2
yarl==1.9.4
zipp==1.0.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.1.0
zope.interface==5.4.0
